# dependencies
node_modules
package-lock.json

# logs
npm-debug.log
yarn-error.log

# macOS hidden file
.DS_Store

# Build directory
dist

# Other folders
.nuxt
.vscode
files/*

# Other files
.env
.eslintrc
.eslintrc.*
.prettierrc